* {
    margin: 0;
    padding: 0;
}

header {
   
    background: url(../img/Background.png) no-repeat center center;
    background-size: cover;
    text-align: center;
    position: relative;
    width: 100%;
    height: 213px;

}

#logo-estado {
    position: absolute;
    width: 340px;
    height: 140px;
    left: 122px;
    top: 36px;
}

    .menu button {
    border-radius: 36px;
    border: 1px solid #000000;
    background: #C4C4C4;
    width: 190px;
    height: 50px;
    cursor: pointer;
    outline: none;
    margin-left: 50%;
    border: none;
    padding: 15px;
    font-weight: 600;
    color: #000;
    
}
